
:root {
  --unset-padding: 0;
  --unset-margin: 0;
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --borderRadius: 16px;
  --containerPadding: 0.7em 1.4em;
}


body {
  padding: var(--unset-padding);
  margin: var(--unset-margin);
}

main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(110deg, #000428, #004e92);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  box-shadow: var(--shadow);
  border-radius: var(--borderRadius);
  background: #fff;
  padding: var(--containerPadding);
}